@model IEnumerable<Forum.ViewModel.HomeVM>
@{
    ViewData["Title"] = "Index";
}




<div class="top-container">
    <h2>Forums</h2>
</div>
<div style="border-top: 2px groove #ffffff"></div>
@if (Model.Count() > 0)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th colspan="2">Available forums</th>
                <th style="text-align:center">Topics</th>
                <th style="text-align:center">Posts</th>
                <th>Last post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Category.Image" style="width: 70px; display:block; border-radius:15px;" /></td>
                    <td>
                        <a asp-action="Index" asp-controller="Topic" asp-area="CustomUser" asp-route-id="@item.Category.Id" style="font-size:22px; color:#B9F98A">@Html.DisplayFor(m => item.Category.Name)</a><br />
                        @Html.DisplayFor(m => item.Category.Description)
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                       @Html.DisplayFor(m => item.Category.CountTopics)
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                        @Html.DisplayFor(m => item.Category.CountPosts)
                    </td>
                    <td style="width:15%;">
                        @if (item.LastPost != null)
                        {
                            <a asp-action="TopicDetails" asp-controller="Topic" asp-area="CustomUser" asp-route-id="@item.LastPost.Topic.Id" style="color:#B9F98A">@Html.DisplayFor(m => item.LastPost.Topic.TopicTittle)</a><br />
                            <partial name="_DateFormatPartial" model="@item.LastPost.PostDate" />
                            <br />
                            <img src="@item.LastPost.User.Image" style="width:35px; display: inline-block; border-radius: 15px; margin: auto" />
                            <span style="margin-left:5px;">@Html.DisplayFor(m => item.LastPost.User.UserName)</span>
                        }
                        else
                        {
                            <p>
                                No posts
                            </p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}