@model Forum.ViewModel.TopicsVM
@using Forum.Utility
@{
    ViewData["Title"] = "Index";
}

<div class="top-container">
    <div>
        <h2 style="display:inline-block">@Model.Category.Name</h2>
        <img src="@Model.Category.Image" style="width: 40px; display: inline-block; border-radius: 5px; margin-bottom: 15px; margin-left: 5px;" />
    </div>
    <a asp-controller="Topic" asp-action="Create" asp-area="CustomUser" asp-route-id="@Model.Category.Id" class="btn-create">Create new topic</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>


<div class="input-group input-group mb-2 mt-2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    </div>
    <input id="topicFilter" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search topic..">
</div>

@if (Model.TopicsWithLastPosts.Count() > 0)
{
    <table id="topicTable" class="table table-dark">
        <thead>
            <tr>
                <th colspan="2">Available topics</th>
                <th style="text-align:center">Posts</th>
                <th>Last post</th>
                @if (User.IsInRole(ForumRole.Admin))
                {
                    <th width="17%" style="text-align:center;">Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TopicsWithLastPosts)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle; padding:0; width:100px;">
                        @if (item.Topic.Lock == false)
                        {
                            <i class="fas fa-comments" style="font-size: 50px;"></i>
                        }
                        else
                        {
                            <i class="fas fa-unlock" style="font-size: 50px;"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="TopicDetails" asp-controller="Topic" asp-area="CustomUser" asp-route-id="@item.Topic.Id" style="font-size:22px; color:#B9F98A" class="title">@Html.DisplayFor(m => item.Topic.TopicTittle)</a>
                        @if (item.Topic.Awarded == true)
                        {
                            <i class="fas fa-star" style="color:yellow; margin-left:5px;"></i>
                        }
                        <br />
                        <p>Created <partial name="_DateFormatPartial" model="@item.Topic.TopicDate" /> by @Html.DisplayFor(m => item.Topic.User.UserName)</p>
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                        @Html.DisplayFor(m => item.Topic.CountPosts)
                    </td>
                    <td style="width:15%">
                        @if (item.Post != null)
                        {
                            <partial name="_DateFormatPartial" model="@item.Post.PostDate" />
                            <br />
                            <img src="@item.Post.User.Image" style="width:35px; display:inline-block; border-radius:15px; margin:auto" />
                            <span style="margin-left:5px;">@Html.DisplayFor(m => item.Post.User.UserName)</span>
                        }
                    </td>

                    @if (User.IsInRole(ForumRole.Admin))
                    {
                <td style="text-align:center; vertical-align: middle;" class="resize-btn">
                    @if (item.Topic.Awarded == true)
                    {
                        <button class="btn-grey" onclick="RemoveAwardTopic(@item.Topic.Id)"><i class="fas fa-star"></i></button>
                    }
                    else
                    {
                        <button class="btn-yel" onclick="AddAwardTopic(@item.Topic.Id)"><i class="fas fa-star"></i></button>
                    }
                    @if (item.Topic.Lock == true)
                    {
                        <button class="btn-create" onclick="UnlockTopic(@item.Topic.Id)"><i class="fas fa-lock-open"></i></button>
                    }
                    else
                    {
                        <button class="btn-del" onclick="LockTopic(@item.Topic.Id)"><i class="fas fa-unlock"></i></button>
                    }
                    <button class="btn-del" onclick="DeleteConfirm(@item.Topic.Id)"><i class="fas fa-trash-alt"></i></button>
                </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="my-container">
        No topics
    </div>
}

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#topicFilter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#topicTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function DeleteConfirm(id) {

            swal({
                title: "Are you sure you want delete this topic?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: "/Admin/ManageTopic/Delete/" + id,
                        success: function (data) {
                            if (data.success) {
                                swal({
                                    title: "Topic successfully deleted",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal("Error from server")
                            }
                        }
                    });
                }
            });
        }

        function LockTopic(id) {
            $.ajax({
                type: "PATCH",
                url: "/Admin/ManageTopic/LockTopic/" + id,
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "Locked topic",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else {
                        swal("Error from server")
                    }
                }
            });
        }

        function UnlockTopic(id) {
            $.ajax({
                type: "PATCH",
                url: "/Admin/ManageTopic/UnlockTopic/" + id,
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "Unlocked topic",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else {
                        swal("Error from server")
                    }
                }
            });
        }

        function AddAwardTopic(id) {
            $.ajax({
                type: "PATCH",
                url: "/Admin/ManageTopic/AddAwardTopic/" + id,
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "Added award to topic",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else {
                        swal("Error from server")
                    }
                }
            });
        }

        function RemoveAwardTopic(id) {
            $.ajax({
                type: "PATCH",
                url: "/Admin/ManageTopic/RemoveAwardTopic/" + id,
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "Remove award from topic",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                    else {
                        swal("Error from server")
                    }
                }
            });
        }
    </script>

}

