@model Forum.ViewModel.TopicsVM
@{
    ViewData["Title"] = "Index";
}

<div class="top-container">
    <h2>@Model.Category.Name</h2>
    <img src="@Model.Category.Image" style="width:3vw; display:block; border-radius:15px;" />
    <a asp-controller="Topic" asp-action="Create" asp-area="CustomUser" asp-route-id="@Model.Category.Id" class="btn-create">Create new topic</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>

@if (Model.TopicsWithLastPosts.Count() > 0)
{
<table class="table table-dark">
    <thead>
        <tr>
            <th colspan="2">Dostępne wątki</th>
            <th style="text-align:center">Posty</th>
            <th>Ostatni wpis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopicsWithLastPosts)
        {
        <tr>
            <td style="width: 8vw; text-align: center; "><i class="fas fa-comments" style="font-size: 10vh"></i></td>
            <td>
                <a asp-action="TopicDetails" asp-controller="Topic" asp-area="CustomUser" asp-route-id="@item.Topic.Id" style="font-size:22px; color:#B9F98A">@Html.DisplayFor(m => item.Topic.TopicTittle)</a><br />
                <p>Stworzony <partial name="_DateFormatPartial" model="@item.Topic.TopicDate" /> przez @Html.DisplayFor(m => item.Topic.User.UserName)</p>
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(m => item.Topic.CountPosts)
            </td>
            <td style="width:20%">
                @if (item.Post != null)
                {
                    <partial name="_DateFormatPartial" model="@item.Post.PostDate" />
                    <br />
                    <img src="@item.Post.User.Image" style="width:2vw; display:inline-block; border-radius:15px; margin:auto" />
                    @Html.DisplayFor(m => item.Post.User.UserName)
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}

else
{
    <div class="my-container">
        Brak wątków
    </div>
}

