@model Forum.ViewModel.PostsInTopicAndNewPostVM
@using Forum.Utility
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<div class="top-container">
    <div>
        <h2 style="display:inline-block">@Model.Posts.FirstOrDefault().Topic.TopicTittle</h2>
        <img src="@Model.Posts.FirstOrDefault().Topic.Category.Image" style="width:40px; display: inline-block; border-radius: 5px; margin-bottom: 15px; margin-left: 5px;" />
    </div>
    <a asp-controller="Topic" asp-action="Index" asp-area="CustomUser" asp-route-id="@Model.Posts.FirstOrDefault().CategoryId" class="btn-back">Back to topics</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>

@if (Model.Posts.Count() > 0)
{
    <table class="table table-dark">
        <tbody>
            @foreach (var item in Model.Posts)
            {
                if (Model.Posts.First() == item)
                {
            <tr style="border-bottom: 7px solid #E4FED2;">
                <td style="width: 110px; text-align: center;">
                    <img src="@item.User.Image" style="width:70px; display:block; border-radius:15px; margin:auto" />
                    <partial name="_DateFormatPartial" model="@item.PostDate" />
                    <br />
                    @Html.DisplayFor(m => item.User.UserName)<br />
                    @if (item.User.UserName == ForumRole.AdminNickname)
                    {
                        <span style="background:yellow; color:black; padding:2px; font-size:12px; border-radius: 2px;">@ForumRole.Admin</span>
                    }
                    @if (item.User.Id == UserManager.GetUserId(User) || User.IsInRole(ForumRole.Admin))
                    {
                        <div style="display:flex; justify-content:center; margin-top:7px;">
                            <a asp-action="Edit" asp-controller="Post" asp-area="CustomUser" asp-route-id="@item.Id" class="btn-create" style="padding:3px 10px;"><i class="far fa-edit"></i></a>
                        </div>
                    }

                    </td>
                    <td>
                        <textarea asp-for="@item.PostMessage" readonly class="form-control" style="height:230px; font-weight:700;"></textarea>
                    </td>
                    <td style="width: 50px;">
                        <div class="@("partialLikes" + item.Id)">
                            <partial name="_LikePartial" model="@item" />
                        </div>
                    </td>
            </tr>
                }
                else
                {
                    <tr>
                        <td style="width:110px; text-align: center;">
                            <img src="@item.User.Image" style="width: 70px; display: block; border-radius: 15px; margin: auto" />
                            <partial name="_DateFormatPartial" model="@item.PostDate" />
                            <br />
                            @Html.DisplayFor(m => item.User.UserName)<br />
                            @if (item.User.UserName == ForumRole.AdminNickname)
                            {
                                <span style="background:yellow; color:black; padding:2px; font-size:12px; border-radius: 2px;">@ForumRole.Admin</span>
                            }
                            @if (item.User.Id == UserManager.GetUserId(User) || User.IsInRole(ForumRole.Admin))
                            {
                        <div style="display:flex; justify-content:space-between; margin-top:7px;">
                            <a asp-action="Edit" asp-controller="Post" asp-area="CustomUser" asp-route-id="@item.Id" class="btn-create" style="padding:3px 10px;"><i class="far fa-edit"></i></a>
                            <a asp-action="Delete" asp-controller="Post" asp-area="CustomUser" asp-route-id="@item.Id" class="btn-del" style="padding: 3px 10px;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                            }
                        </td>
                        <td>
                            <textarea asp-for="@item.PostMessage" readonly class="form-control" style="height:230px; font-weight:700;"></textarea>
                        </td>
                        <td style="width: 50px;">
                            <div class="@("partialLikes" + item.Id)">
                                <partial name="_LikePartial" model="@item" />
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    if (Model.Posts.FirstOrDefault().Topic.Lock == false)
    {
        if (User.Identity.IsAuthenticated)
        {
        <div id="add-post">
            <div class="my-flex-container">
                <form method="post" asp-action="Create" asp-controller="Post" asp-area="CustomUser">
                    <input type="hidden" asp-for="NewPost.TopicId" />
                    <input type="hidden" asp-for="NewPost.CategoryId" />
                    <div class="form_item" style="width:60vw;">
                        <label asp-for="NewPost.PostMessage"></label>
                        <textarea id="textarea" asp-for="NewPost.PostMessage" placeholder="Content" class="form-control" style="height:200px; font-weight:700;"></textarea>
                        <span asp-validation-for="NewPost.PostMessage" style="color: #FFA7A7; font-size:17px"></span>
                    </div>
                    <input type="submit" value="Post answer" class="btn-create"/>
                </form>
                <button id="close-answer" class="btn-del" style="margin-top:10px;">Close</button>
            </div>
            <div class="flex-center">
                <button id="add-answer" class="btn-yel">Add your answer</button>
            </div>
        </div>
        }
    }
}

else
{
    <div class="my-container">
        Brak wątków :/
    </div>
}


@section Scripts{

    <partial name="_ValidationScriptsPartial" />


    <script>
        $(document).ready(function () {
            $("#add-post .my-flex-container").hide();
            $("#add-post #add-answer").click(function () {
                $("#add-post #add-answer").hide();
                $("#add-post .my-flex-container").slideDown();
            });

            $("#add-post #close-answer").click(function () {
                $("#add-post .my-flex-container").slideUp();
                $("#add-post #add-answer").show(500);
            });
        });

            function GetLikesForPost(id) {
                $.ajax({
                    type: "GET",
                    url: "/CustomUser/Like/GetLikes/" + id,
                    success: function (partialView) {
                        $(".partialLikes" + id).html(partialView);
                    }
                });
            }

            function CreateLike(id) {
                $.ajax({
                    type: "POST",
                    url: "/CustomUser/Like/CreateLike/" + id,
                    success: function (data) {
                        if (data.success) {
                            GetLikesForPost(id);
                        }
                        else {
                            swal("Error from server")
                        }
                    }
                });
            }

            function DeleteLike(id) {
                $.ajax({
                    type: "DELETE",
                    url: "/CustomUser/Like/DeleteLike/" + id,
                    success: function (data) {
                        if (data.success) {
                            GetLikesForPost(id);
                        }
                        else {
                            swal("Error from server")
                        }
                    }
                });
            }

    </script>

}

