@model IEnumerable<Report>

@{
    ViewData["Title"] = "Index";
}

<div class="top-container">
    <h2>Reports</h2>
    <a asp-controller="Home" asp-action="Index" asp-area="CustomUser" class="btn-back">Back to forums</a>
</div>
<div style="border-top: 2px groove #ffffff"></div>

<div class="input-group input-group mb-2 mt-2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    </div>
    <input id="reportFilter" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search report..">
</div>

@if (Model.Count() > 0)
{
    <table id="reportTable" class="table table-dark">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Reason</th>
                <th style="text-align:center;">Post</th>
                <th style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a style="color:#B9F98A;" asp-area="CustomUser" asp-controller="User" asp-action="Index" asp-route-name="@item.User.UserName">@Html.DisplayFor(m => item.User.UserName)</a></td>
                <td><partial name="_DateFormatPartial" model="item.Date"></td>
                <td>@Html.DisplayFor(m => item.Reason)</td>
                <td>
                    <div class="flex-center">
                        <a asp-action="Edit" asp-controller="Post" asp-area="CustomUser" asp-route-id="@item.PostId" class="btn-create"><i class="far fa-edit"></i></a>
                    </div>
                </td>
                <td>
                    <div class="flex-center">
                        <button class="btn-yel" onclick="CloseReport(@item.Id)">Close report</button>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            }

        </tbody>
    </table>
}

else
{
    <div class="my-container">
        No reports
    </div>
}


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#reportFilter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#reportTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function CloseReport(id) {
            swal({
                title: "Are you sure you want close this report?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: "/Admin/Report/Delete/" + id,
                        success: function (data) {
                            if (data.success) {
                                swal({
                                    title: "Report successfully closed",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal("Error from server")
                            }
                        }
                    });
                }
            });
        }
    </script>
}
